*.json
*.gz
.env
__pycache*
.venv
local_build/CsvExampleGen/
local_build/Evaluator/
local_build/ExampleValidator/
local_build/Pusher/
local_build/SchemaGen/
local_build/StatisticsGen/
local_build/Trainer/
local_build/Transform/
local_build/Tuner/
local_build/_wheels/
local_build/metadata/
local_build/models/*
local_build/data/*
models/local/*
pipelines/__pycache__
tb/*